body{
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.main-container{
    max-width: 1000px;
}

/* header */
.jumbotron{
    background: rgb(0, 130, 120);
}

#title-jumbotron{
    border-bottom: 1px solid white;
}
#portrait{
    max-width: 100%
}

/* main */
.title-main{
    display: flex;
    justify-content: center;
    color: rgb(216, 159, 136)
}

/* portfolio */
.image-portfolio{
    max-width: 100%;
  }